{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}

{% include "./prisonerBanner.njk" %}

<h1 class="govuk-heading-l govuk-!-margin-bottom-2" data-qa="prisoner-name">
  {{ (prisonerName | convertToTitleCase) or "Unknown" }}’s property
</h1>

{% if canManage %}
  {{ govukButton({
    text: "Add property",
    href: "/prisoner/" + prisonerNumber + "/add-container",
    attributes: { "data-qa": "add-property" }
  }) }}
{% endif %}

<div class="app-property-tabs">
  {{ mojSubNavigation({
    label: "Property sub navigation",
    items: [
      {
        text: "Property",
        href: "/prisoner/" + prisonerNumber,
        active: activeTab == "property",
        attributes: { "data-qa": "tab-property" }
      },
      {
        text: "Property history",
        href: "/prisoner/" + prisonerNumber + "/history",
        active: activeTab == "history",
        attributes: { "data-qa": "tab-history" }
      }
    ]
  }) }}
</div>
