REDIS_ENABLED=false
TOKEN_VERIFICATION_ENABLED=false

# Credentials for allowing user access
AUTH_CODE_CLIENT_ID=hmpps-prisoner-property
AUTH_CODE_CLIENT_SECRET=clientsecret

# Credentials for API calls
CLIENT_CREDS_CLIENT_ID=hmpps-prisoner-property-system
CLIENT_CREDS_CLIENT_SECRET=clientsecret

# Base URL of hmpps-prisoner-property-api
PRISONER_PROPERTY_API_URL=http://localhost:8080

# DPS shared frontend-components + Digital Prison Services home
COMPONENT_API_URL=https://frontend-components-dev.hmpps.service.justice.gov.uk
DPS_URL=https://digital-dev.prison.service.justice.gov.uk
