{% extends "../../../partials/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{#
  Two states, not one screen with a warning bolted on. A location that still holds containers cannot
  be removed, so it gets a blocked state that says so and offers only a way back - rather than a red
  button that submits a request the API is certain to reject with a 409.
#}
{% set blocked = location.containersHeld > 0 %}

{% set pageTitle = applicationName + (" - You cannot remove a storage location" if blocked else " - Remove a storage location") %}
{% set mainClasses = "govuk-body" %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: "/admin/locations" }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if blocked %}
        {% set containerCount = "1 property container" if location.containersHeld == 1 else location.containersHeld + " property containers" %}
        {% set containerNoun = "the container" if location.containersHeld == 1 else "the containers" %}

        <h1 class="govuk-heading-xl">You cannot remove {{ location.name }}</h1>

        {{ govukWarningText({
          text: location.name + " contains " + containerCount + ". You must move or remove " + containerNoun + " before you can remove this storage location.",
          iconFallbackText: "Warning",
          attributes: { "data-qa": "in-use-warning" }
        }) }}

        {{ govukButton({
          text: "Back to storage locations",
          href: "/admin/locations",
          attributes: { "data-qa": "back-to-locations" }
        }) }}
      {% else %}
        <h1 class="govuk-heading-xl">Remove {{ location.name }}?</h1>

        <p class="govuk-body">
          This location will no longer be offered as a place to store property. It can only be removed while
          it is empty.
        </p>

        <form method="post" action="/admin/locations/{{ location.id }}/remove" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          {{ govukButton({
            text: "Remove storage location",
            classes: "govuk-button--warning",
            attributes: { "data-qa": "confirm-remove" }
          }) }}
          <a class="govuk-link govuk-!-margin-left-2" href="/admin/locations">Cancel</a>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
