{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "govuk-body" %}

{% block content %}

  <h1 class="govuk-heading-xl">Prisoner property</h1>
  <p class="govuk-body">This service is under construction. Check back later when there is content to view.</p>

{% endblock %}
